@charset "utf-8";

@font-face {
  font-family: NanumBarunGothic;
  src: url('../fonts/NanumBarunGothic.ttf');
}
@font-face {
  font-family: NanumBarunGothicBold;
  src: url('../fonts/NanumBarunGothicBold.ttf');
}
@font-face {
  font-family: Archer Semibold;
  src: url('../fonts/Archer Semibold.otf');
}

/* 레이아웃 */

.container {
	position: relative;
	width: 1220px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#banner {}

#product {}

#sns {background: rgb(124,81,161);}

#footer {
	background: rgb(226,226,226);
	padding: 30px 0;
}


/* 헤더 */
.top_menu {
	height: 40px;
	background: rgb(238,238,238);
}

.top_menu ul {
	float: right;
}

.top_menu li {
	float: left;
}

.top_menu li a {
	display: block;
	font-family: 'NanumBarunGothic';
	font-size: 14px;
	color: rgb(51,51,51);
	line-height: 40px;
	margin-right: 18px;
}

.top_menu li:first-child a {
	border-right: 1px solid rgb(228,228,228);
	padding-right: 18px;
}

.top_menu li.top_menu_logo {
	width: 60px;
}

.top_menu li.top_menu_logo a {
	background: rgb(47,28,17);
	text-align: center;
	margin-right: 0;
}

.top_menu li.top_menu_logo a img {
	vertical-align: middle;
	width: 21px;
	height: 21px;
}
.top_menu li.top_menu_logo a img.m_user_info_img {
	display: none;
}

.top_menu li.top_menu_cart {
	position: relative;
	display: none;
	width: 60px;
}

.top_menu li.top_menu_cart a img {
	vertical-align: middle;
	width: 21px;
	height: 21px;
}
.top_menu li.top_menu_cart a .cart_num {
	position: absolute;
	top: 16px; right: 11px;
	display: block;
	background: rgb(242, 148, 69);
	color: #fff;
	border-radius: 50%;
	width: 15px; height: 15px;
	font-family: 'Arial'; font-size: 10px; line-height: 15px;
	text-align: center;
}



.sub_menu {
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #dbdbdb;
}

.sub_menu .menu_btn {
	display: none;
	position: absolute;
	top: 4px; left: 0; 
	width: 60px; height: 60px; line-height: 60px;
	text-align: center;
}

.sub_menu .menu_btn img {
	width: 21px;
	height: 20px;
}

.sub_menu h1.sub_menu_logo {
	float: left;
	padding: 13px 0;
	margin-right: 130px;
}

.sub_menu .sub_menu_logo img {
	height: 70px;
	width: 70px;
}

.sub_menu .sub_text_box {
	font-family: 'Arial';
	float: left;
}

.sub_menu .sub_text_box > ul {
	overflow: hidden;
}

.sub_menu .sub_text_box > ul > li {
	float: left;
	padding: 0 31px;
}

.sub_menu .sub_text_box > ul > li > a {
	display: block;
	line-height: 100px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.3px
}

.sub_menu .sub_text_box > ul > li > a:hover {
	color: rgb(207, 102, 26);
}

.sub_menu .sub_text_box > ul > li:hover div {
	display: block;
}

.sub_menu .sub_search_box {
	float: right;
}

.sub_menu .sub_search_box a {
	line-height: 100px;
}

.sub_menu .sub_search_box img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}







.sub_drop_down {
	position: absolute; overflow: hidden; background: rgb(238,238,238); 
	 left: 50%; transform: translateX(-50%); padding: 40px; display: none;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.3;
    }
    to {
        opacity: 1;
    }
}
.sub_drop_down ul {
	float: left; 
}
.sub_drop_down ul li:before {
	content: '';
	display: inline-block;
	width: 7px; height: 1px;
	margin: 0 6px;
	vertical-align: middle;
	background-image: url('../img/icons/bar1.gif');
}
.sub_drop_down ul li {margin-bottom: 5px; }
.sub_drop_down ul li.orange_bar:before {
	background-image: url('../img/icons/bar1_point.gif');
}
.sub_drop_down ul li a {font-family: 'NanumBarunGothic'; color: rgb(75,38,22);}

.sub_drop_down ul li:first-child:before
, .sub_drop_down ul li.ln:before {
	width: 0; height: 0;
	margin-left: 0;
}
.sub_drop_down ul li:first-child a
, .sub_drop_down ul li a.m_title {
	font-family: 'NanumBarunGothicBold';
}

.buy_online .sub_drop_down {width: 1220px;}
.buy_online .sub_drop_down ul {width: 20%;}

.members_club .sub_drop_down {width: 520px;}
.members_club .sub_drop_down ul {width: 33.3333%;}

.menu .sub_drop_down {width: 730px; transform: translateX(-23%);}
.menu .sub_drop_down ul {width: 20%;}
.menu .sub_drop_down ul:first-child {width: 40%;}

.store .sub_drop_down {transform: translateX(15%);}
.store .sub_drop_down ul {}
.store .sub_drop_down ul li:before {width: 0; height: 0; margin: 0;}
.store .sub_drop_down ul li a {font-size: 15px;}

.the_coffee_bean .sub_drop_down {width: 980px; transform: translateX(-40%);}
.the_coffee_bean .sub_drop_down ul {width: 20%;}

.cbtl .sub_drop_down {left: auto; transform: translateX(-33%);}
.cbtl .sub_drop_down ul {}
.cbtl .sub_drop_down li:before {width: 0; height: 0; margin: 0;}
.cbtl .sub_drop_down li:first-child a {font-family: 'NanumBarunGothic';}
.cbtl .sub_drop_down li a {font-size: 15px;}









/* 배너 */

.main {
	width: 100%;
}

.main a {
	height: 540px;
	display: block;
	background: url('../img/메인_최종.jpg') no-repeat center center;
}

.slider {
	height: 400px;
	width: 100%;
}




.main2 .event_ban1 a {
	display: block;
	height: 400px;
	background: url('../img/1313.jpg') no-repeat center center;
	/*-webkit-background-size: cover;
    background-size: cover;*/
}

.main2 .event_ban2 a {
	display: block;
	height: 400px;
	background: url('../img/main02_03.jpg') no-repeat center center;
	/*-webkit-background-size: cover;
    background-size: cover;*/
}

/* 스와이퍼 버튼 변경 */
.swiper-button-prev {background-image: url('../img/icons/btn_prev.png') !important;}
.swiper-button-next {background-image: url('../img/icons/btn_next.png') !important;}





/* md 상품 */
.product {margin: 50px 0;}
.product .md {width: 100%; overflow: hidden; margin-bottom: 55px;}
.product .md h2 {font-family: 'Archer Semibold','NanumBarunGothic'; font-size: 24px; color: rgb(207,102,26); text-align: center; margin-bottom: 30px;}
.product .md .swiper-container2 {}
.product .md .swiper-wrapper {margin-bottom: 40px;}
.product .md .swiper-slide:hover button {
	display: block;
}
.product .md .swiper-slide a {position: relative; display: inline-block}
.product .md .swiper-slide figure {
	text-align: center; 
}
.product .md .swiper-slide img {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.product .md .swiper-slide figure:hover img {opacity: 0.6;}
.product .md .swiper-slide button {
	position: absolute;
	top: 190px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	width: 200px; height: 40px;
	font-family: 'Archer Semibold','NanumBarunGothic';
	background: rgb(243,130,0); 
	color: #fff; font-size: 14px;
}

.product .md .swiper-slide .info {text-align: center;}
.product .md .info {padding: 10px 0;}
.product .md .info h3 {font-family: 'Archer Semibold','NanumBarunGothic'; font-size: 18px; font-weight: 600; margin-bottom: 10px;}
.product .md .info p {font-family: 'Arial','NanumBarunGothic'; font-size: 14px; margin-bottom: 10px;}
.product .md .info span {font-family: 'NanumBarunGothic'; font-size: 14px; color: rgb(207,102,26);}

.swiper-paging-box {text-align: center;}
.swiper-paging-box .swiper-pagination2 {display: inline-block; text-align: center;}
.swiper-paging-box .swiper-pagination-bullet:first-child {margin-left: 15px;}
.swiper-paging-box .swiper-pagination-bullet {
	width: 15px !important;
	height: 15px !important;
	margin-right: 10px;
	vertical-align: -1px;
}
.swiper-paging-box .control-btn
, .swiper-paging-box .control-btn2 {position: relative; display: inline-block; padding-right: 35px;}
.swiper-paging-box .control-btn:after
, .swiper-paging-box .control-btn2:after
{content: ''; position: absolute; width: 2px; height: 85%; background: #eeeeee; top: 1px; right: 10px;}


.product .new h2 {font-family: 'Archer Semibold','NanumBarunGothic'; font-size: 24px; color: rgb(207,102,26); text-align: center; margin-bottom: 30px;}




/* new 상품 */
.new {width: 100%; overflow: hidden; margin-bottom: 55px; padding: 0 15px; box-sizing: border-box;}

.new .swiper-wrapper {margin-bottom: 40px;}
.new figure:hover img {opacity: 0.6;}
.new img {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}


.new .new_info {text-align: center; padding: 10px 0;}
.new .new_info h3 {font-family: 'Archer Semibold','NanumBarunGothic'; font-size: 18px; font-weight: 600; margin-bottom: 10px; color: rgb(207,102,26); }

.swiper-paging-box .swiper-pagination3 {display: inline-block; text-align: center;}





/* sns */
#sns .container {width: 1200px;}
#sns .row {padding: 35px 0;}
#sns h2 {
	font-family: 'Archer Semibold','NanumBarunGothic'; font-size: 24px; color: #fff;
	text-align: center; padding: 20px 0;
}
.sns {text-align: center;}
.sns ul {overflow: hidden; font-size: 0; margin-bottom: 30px;}
.sns ul a {display: block;
}

.sns ul a:hover img {
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	opacity: 0.8;
}
.sns ul li {float: left; font-size: 0; overflow: hidden;}
.sns img {width: 200px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;}

.sns .instagram_btn {
	font-family: 'Archer Semibold','NanumBarunGothic';
	background: rgb(243,130,0);
	color: #fff;
	padding: 10px 50px;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
}




/* 푸터 */
.footer_menu {overflow: hidden; padding: 55px 0 30px 0;}
.footer_menu .row {border-bottom: 1px solid rgb(75,38,22); padding-bottom: 50px;}
.footer_menu ul {float: left; width: 16.66666666666667%;}
.footer_menu ul li {
	display: block;
	margin-bottom: 2px;
}
.footer_menu ul li:first-child {
	font-family: 'Archer Semibold','NanumBarunGothic';
	font-size: 18px;
	color: rgb(207,102,26);
	margin-bottom: 10px;
}
.footer_menu ul li a {
	font-family: 'NanumBarunGothic';
	font-size: 13px;
	color: rgb(75,38,22);
}
.footer_menu ul li a.bold {font-weight: 600;}


.footer_info ul li {
	font-family: 'NanumBarunGothic';
	font-size: 13px;
	position: relative; 
	display: inline-block;
	margin-right: 13px;
	color: rgb(95,77,63);
}
.footer_info ul li a {
	font-family: 'NanumBarunGothic';
	color: rgb(95,77,63);
	font-size: 13px;
}

.footer_info ul li:after {
	content: ''; position: absolute; 
	top: 2px; right: -8px; width: 1px; height: 13px; background: rgb(95,77,63);
}
.footer_info ul li:last-child:after {width: 0; height: 0;}
.footer_info div > div > ul {margin-bottom: 15px;}

.footer_info address ul {
	padding-bottom: 3px;
}
.footer_info address p {
	font-family: 'NanumBarunGothic';
	color: rgb(95,77,63);
	font-size: 13px;
	margin-bottom: 3px;
}

.sns_ico {position: absolute; right: 0;}
.footer_sns ul li {display: inline-block; margin-right: 8px;}
.footer_sns ul li a img {width: 40px; height: 40px;}




/*===================== 미디어 쿼리 =====================*/
@media (max-width: 1220px) {

	body {padding-top: 60px;}
	.container {width: 100%;}

	.top_menu {
		position: absolute; 
		top: 0; right: 0;
		z-index: 1001;
		height: 60px; width: 120px;
		background: #fff;
	}
	.top_menu li {display: none;}
	.top_menu li.top_menu_logo {display: block;}
	.top_menu li.top_menu_logo a {background: #fff; width: 60px; height: 60px; line-height: 60px; text-align: center;}
	.top_menu li.top_menu_logo a img.user_info_img {display: none;}
	.top_menu li.top_menu_logo a img.m_user_info_img {display: inline-block; width: 25px; height: 25px;}
	.top_menu li.top_menu_cart {display: block;}
	.top_menu li.top_menu_cart a {width: 60px; height: 60px; line-height: 60px; text-align: center;}
	.top_menu li.top_menu_cart a img {width: 25px; height: 25px;}

	.sub_menu {height: 60px; border-bottom: 1px solid #dbdbdb;}
	.sub_menu .menu_btn {display: block;}
	.sub_menu .sub_text_box ul {display: none;}
	.sub_menu .sub_search_box {display: none;}

	.sub_menu h1.sub_menu_logo {padding: 10px 0; margin-right: 0; float: none; text-align: center;}
	.sub_menu .sub_menu_logo img {width: 40px; height: 40px;}

	.main a {
		width: 100%; height: 0;
		padding-top: calc(540 / 1900 * 100%);
		background-size: cover;
		-webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    transition: all 0.5s;
	}
	.main a:hover {
		opacity: 0.8;
	}
	.main2 .event_ban1 a, .main2 .event_ban2 a {
		position: relative;
		width: 100%; height: 0;
		padding-top: calc(400 / 1900 * 100%);
		background-size: cover;
	}
	.slider {height: auto;}



	.product .md {
		padding: 0 15px;
		box-sizing: border-box;
	}
	


	#sns .container {width: 100%;}
	#sns .row {padding: 35px 20px;}
	.sns ul li {width: 25%;}
	.sns img {width: 100%;}

	.footer_menu {display: none;}
	.footer_sns {margin: 10px 0 30px 0;}
	.sns_ico {position: static; text-align: center;}
	.footer_info {text-align: center;}

}




@media (max-width: 768px) {
	.main a {
		background: url('../img/모바일 5종.jpg') no-repeat center center;
		padding-top: calc(900 / 960 * 100%);
		background-size: cover;
	}

	.main2 .event_ban1 a {
		background: url('../img/MB_223_3.jpg') no-repeat center center;
		padding-top: calc(376 / 600 * 100%);
		background-size: cover;
	}

	.main2 .event_ban2 a {
		background: url('../img/MB_223_4.jpg') no-repeat center center;
		padding-top: calc(376 / 600 * 100%);
		background-size: cover;
	}

	.product {margin: 35px 0;}
	.product .md h2, .product .new h2 {font-size: 18px;}
	.product .md .info h3 {font-size: 15px; margin-bottom: 0;}
	.product .md .info p {display: none;}

	.new .new_info {padding: 0;}
	.new .swiper-wrapper {margin-bottom: 20px;}
	
	#sns .row {padding: 0 20px 30px 20px;}
	#sns h2 {font-size: 20px;}
	.sns ul li {width: 33.33%;}
	.sns .instagram_btn {font-size: 13px; padding: 5px 50px;}

	.footer_info address ul {padding-bottom: 0;}
	.footer_info address ul li {display: block; margin-bottom: 5px;}
	.footer_info address ul li:after {width: 0; height: 0;}
}